
<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).hide();
  $('.js-comments-count').html("<%= @comment.user.comments.count %> comments");
  $("ul.nav").after("<div class='alert alert-danger'><%= flash[:notice] %></div>");
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>